header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/printitt.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}